* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header h1 {
  background: orangered;
  color: white;
}

header p {
  color: orangered;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  border-bottom: solid gray 2px;
}